[class^="col-"] {
    background-color: lightpink;
    border: 1px solid black;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 200px;
}

.nested{
    display: flex;
    flex-grow: 1;
    align-content: center;
    padding: 5px;
}

[class*="col"] > .row > [class*="col"] {
    background-color: #F07F80;
    height: 100%;
    border: 1px solid white;
}

